{{ define "main" }}
<article>
    <header id="post-header">
        <h1>{{ .Title }}</h1>
        {{- if isset .Params "date" -}}
            <time>{{ .Date.Format "January 2, 2006" }}</time>
        {{- end -}}
    </header>
    {{- .Content -}}
</article>

<!-- start: only display comments box for blog posts -->
{{ if eq .Type "posts" }}

<br />
<br />
<hr>
<h3>Thanks for reading this post!</h3>
<br />
If you found an issue in this <a href="https://github.com/sebw/blog.wains.be/blob/master/content/{{ .File.Path }}">article</a>, you can create an issue on <a href="https://github.com/sebw/blog.wains.be/issues">Github</a>.
<br />
<br />
If you have a comment or question, please drop me a line below!

<script 
        data-isso="https://comment.wains.be/" 
        data-isso-css="true" 
        data-isso-require-author="true" 
        data-isso-require-email="true" 
        data-isso-reply-to-self="false"
        src="https://comment.wains.be/js/embed.min.js">
</script>
<section id="isso-thread"></section>
{{ end }}
<!-- end: only display comments box for blog posts -->

{{ end }}
