{{ define "main" }}
<article>
    <header id="post-header">
        <h1>{{ .Title }}</h1>
        {{- if isset .Params "date" -}}
            <time>{{ .Date.Format "January 2, 2006" }}</time>
        {{- end -}}
    </header>
    {{- .Content -}}
</article>

<!-- start: only display comments box for blog posts -->
{{ if eq .Type "posts" }}
<h2>Page sources</h2>
<a href="https://github.com/sebw/blog.wains.be/blob/master/content/{{ .File.Path }}">https://github.com/sebw/blog.wains.be/blob/master/content/{{ .File.Path }}</a>

<h2>Have something to say?</h2>
<script 
        data-isso="https://comment.wains.be/" 
        data-isso-css="true" 
        data-isso-require-author="true" 
        data-isso-require-email="true" 
        data-isso-reply-to-self="false"
        src="https://comment.wains.be/js/embed.min.js">
</script>
<section id="isso-thread"></section>
{{ end }}
<!-- end: only display comments box for blog posts -->

{{ end }}
