{{ define "main" }}
<article>
    <header id="post-header">
        <h1>{{ .Title }}</h1>
        {{- if isset .Params "date" -}}
            <time>{{ .Date.Format "January 2, 2006" }}</time>
        {{- end -}}
    </header>
    {{- .Content -}}
</article>

<!-- start: only display comments box for blog posts -->
{{ if eq .Type "posts" }}

<br />
<br />
<hr>
<h3>Thanks for reading this post!</h3>
<br />
Did you find an issue in this article?<br /><br />
- click on the following <a target="_blank" href="https://github.com/sebw/blog.wains.be/blob/master/content/{{ .File.Path }}?plain=1">Github link</a><br />
- log into Github with your account<br />
- click on the line number containing the error<br />
- click on the "..." button<br />
- choose "Reference in new issue"<br />
- add a title and your comment<br />
- click "Submit new issue"<br />
<br />
Your feedback is much appreciated! 🤜🏼🤛🏼
<br />
<br />
You can also drop me a line below!

<script
        data-isso="https://comment.wains.be/"
        data-isso-css="true"
        data-isso-require-author="true"
        data-isso-require-email="true"
        data-isso-reply-to-self="false"
        src="https://comment.wains.be/js/embed.min.js">
</script>
<section id="isso-thread"></section>
{{ end }}
<!-- end: only display comments box for blog posts -->

{{ end }}
